/agents
/experiments
/frodo2
/lib
/org
RELEASE_NOTES.txt
LICENSE.txt
META-INF/MANIFEST.MF
frodo2.18.1.jar
FRODO_online_manual.html
/repository/examples
/data
/translation/__pycache__
/translation/parsers/__pycache__
/translation/tests/__pycache__
/logs
gurobi.log
solution.xml
solution.xml
translation/test.ipynb
solution.xml
.DS_Store
